body {
    background-color: white;
    text-align: center;
}

h1 {
    font-size: 100px;
    color: black;
    font-family: arial;
    font-weight: bolder;
}

h3 {
    font-size: 40px;
    color: black;
    font-family: arial;
    font-weight: 600;
}

input {
    font-size: 20px;
    color: black;
    font-family: arial;
    font-weight: 600;
}

button {
    font-size: 25px;
    color: black;
    font-family: arial;
    font-weight: 600;
    background-color: yellowgreen;
    border-radius: 20px;
    border-width: 0px;
    padding: 5px;
}

button:hover {
    font-size: 25.7px;
    padding: 5px;
    cursor: pointer;
    color: darkgreen;
}